extends layout 

block content 
    h1= title
    form(action="/new", method="POST")
       label(for="name") Name: 
       input(name="name", value="", type="text")
       label(for="message") Message: 
       input(name="message", value="", type="text")
       button(type="submit") Submit