body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.messageDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}